.contact_wrapper h1 a {
    display: block;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact{
    /* padding: 300px 0; */
}
.contact_wrapper h1 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #1E0E62;

}

@media screen and (max-width : 768px) {
    .contact_wrapper h1 {
        font-size: 42px;
        line-height: 60px;
    
    }
    .contact{
        padding: 200px 0;
    }
}
