/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* global rules*/
* {
  /* font-family: 'Poppins', sans-serif; */
  padding: 0;
  margin: 0;
}

css *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1,
h2 {
  font-weight: 700 !important;
}

h3 {
  font-weight: 500 !important;
}

p {
  font-weight: 400 !important;
}

section {
  padding: 100px 0;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #42446E;
  margin-bottom: 50px !important;
}

h2+p {
  font-weight: 400;
  font-size: 32px;
  color: #666666;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666666;
}

.text-center {
  text-align: center;
}

.load_more {
  margin-top: 40px;
  background-color: #42446E;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 96px;
  height: 48px;
  display: inline-block;
  position: relative;
  background: #FFF;
  border-radius: 48px 48px 0 0;
  box-sizing: border-box;
  overflow: hidden;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 12px;
  border-radius: 24px 24px 0 0;
  background: #42446E;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.loader::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 32px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  background: #42446E;
  transform-origin: 50% 100%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
}

@keyframes animloader {
  0% {
    transform: rotate(-70deg);
  }

  10% {
    transform: rotate(-40deg);
  }

  20%,
  45%,
  35% {
    transform: rotate(-10deg);
  }

  40%,
  30% {
    transform: rotate(-30deg);
  }

  50%,
  60% {
    transform: rotate(20deg);
  }

  55%,
  65%,
  75% {
    transform: rotate(40deg);
  }

  70% {
    transform: rotate(45deg);
  }

  85%,
  90% {
    transform: rotate(50deg);
  }

  95% {
    transform: rotate(75deg);
  }

  100%,
  93% {
    transform: rotate(70deg);
  }
}


.footer-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper .links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-wrapper ul {
  display: flex;
  align-items: center;
}

.footer-wrapper ul:first-of-type {
  gap: 40px;
}

.footer-wrapper ul:last-of-type {
  gap: 20px;
}


@media screen and (max-width : 768px) {
  section {
    padding: 30px 0;
  }

  h2 {
    font-size: 32px;
  }

  h2+p {
    font-size: 24px;
  }

  .footer-wrapper .logo {
    display: none;
  }
  
  .footer-wrapper .links {
    flex-direction: column;
  }
  
}

.activelink{
  color: #000;
  border-bottom: 1px solid  #42446E;

}

.layout-wrapper{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}